<h2>Planteamiento de la prueba</h2>

<p>Adjunto a este documento encontraras un gif llamado “test_ui.gif”. Este gif contiene la especificación general de la interacción y las animaciones a desarrollar. La interfaz a construir es para una pequeña aplicación de feed de noticias. Los datos de las noticias están representados en el archivo adjunto news_mock.json.</p>
<h3>Requisitos:	</h3>
<ul>
    <li>La carga de los datos de noticias se deben hacer simulando la petición a un API externo de forma que los datos contenidos en news_mock.json puedan ser reemplazados de forma fácil por la llamada a un API que funcione sobre http, para evaluar este punto debes proveer una configuración que permita el cambio entre usar el archivo de prueba o una url real que retornara datos en el mismo formato del archivo ( al evaluar la prueba, ingresaremos la url en la configuración según tus instrucciones y esperaremos que la aplicación simplemente siga funcionando ). </li>
    <li>Los estilos generales deberán seguir los lineamientos mostrados en el gif adjunto pero te animamos a darle vida a la interfaz con tu propia creatividad y experiencia; por ejemplo, añadiendo una animación de carga mientras se solicita la información de noticias. • La aplicación debe adaptarse a distintos tamaños de dispositivos (responsiva para tablets, smartphones y desktop). </li>
    <li>La aplicación deberá soportar las ultimas versiones de Firefox y Chrome y la experiencia entre los dos navegadores debe ser consistente. </li>
</ul>

<img src="img/test_ui.gif" alt="el_gif">

<h3>Consideraciones: </h3>

<ul>
    <li>Eres libre de usar las herramientas necesarias para lograr la aplicación y esperamos que trates este proyecto como un proyecto real y que nos demuestres tu forma de trabajo y tu calidad de código.</li>
    <li>El uso de pruebas unitarias es recomendado pero no necesario.</li>
    <li>Cualquier duda sobre la especificación de la prueba es bienvenida y te responderemos en el menor tiempo posible.</li>
</ul>

{{#link-to "contact"}}Contáctame{{/link-to}}
{{outlet}}
