<p>Super Rentals Representatives would love to help you choose a destination or answer
any questions you may have.</p>

<p>Contact us today:</p>

<p>
 Luis Covilla 
  <address>
    1212 Test Address Avenue<br>
    Testington, OR 97233
  </address>
</p>

<p><a href="tel:+57.300.631.5604">(+57)300-631-5604</a></p>

<p><a href="mailto:luis.covilla@gmail.com.com">luis.covilla@gmail.com.comm</a></p>
{{outlet}}


{{#link-to "about"}}Acerca de la prueba{{/link-to}}